* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.btns {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.login-btn {
	display: block;
	background-color: #555555;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 200px;
	border-radius: 12px;
	border: 2px solid #555555;
}

.login-btn:hover {
	background-color: white;
	color: #555555;
}

.sign-up {
	display: block;
	background-color: #555555;
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 200px;
	border-radius: 12px;
	border: 2px solid #555555;
}

.sign-up:hover {
	background-color: white;
	color: #555555;
}
