* {
    box-sizing: border-box;
}

.cardContainer{
    display: flex;
    width: 160px;
    max-height: px;
}
.image {
    max-width: 30%;
} 
.cardContainer img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 100%;
}
