.image {
  width: 50%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.title {
  font-weight: 650;
}
